@use '../utilities' as *;

@media (min-width: 992px) {
	.nav {
		left: 0;
		width: 60px;
		overflow: hidden;
		transition: width 0.5s;

		&--active {
			width: 300px;
		}

		&__item {
			width: 300px;
		}
	}

	.topbar {
		width: calc(100% - 60px);
		left: 60px;

		&--active {
			width: calc(100% - 300px);
			left: 300px;
		}
	}

	.main {
		position: relative;
		width: calc(100% - 60px);
		left: 60px;
		transition: all 0.5s;

		&--active {
			width: calc(100% - 300px);
			left: 300px;
		}
	}
}
@media (min-width: 1200px) {
}
