@use '../utilities' as *;

@media (min-width: 810px) {
	.summary {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 992px) {
	.nav {
		left: 0;
		width: 60px;
		overflow: hidden;
		transition: width 0.5s;

		&--active {
			width: 300px;
		}

		&__item {
			width: 300px;
		}
	}

	.topbar {
		width: calc(100% - 60px);
		left: 60px;

		&--active {
			width: calc(100% - 300px);
			left: 300px;
		}
	}

	.shadow {
		&--active {
			display: none;
		}
	}

	.main {
		position: relative;
		width: calc(100% - 60px);
		left: 60px;
		transition: all 0.5s;

		&--active {
			width: calc(100% - 300px);
			left: 300px;
		}
	}

	.summary {
		grid-template-columns: repeat(4, 1fr);
	}

	.details {
		grid-template-columns: 2fr 1fr;
	}
}
@media (min-width: 1200px) {
}
