@use '../utilities' as *;

@media (min-width: 480px) {
	.nav {
		width: 300px;
	}

	.topbar {
		.burger-btn-container {
			.burger-btn {
				&--active {
					position: static;
					color: $black;
					animation: none;
					z-index: 0;
				}
			}
		}
	}

	.main {
		position: relative;
		transition: all 0.5s;
		left: 0;

		&--active {
			width: calc(100% - 300px);
			left: 300px;
		}
	}
}
