node_modules
notes
test/
vendor/

# Ignore all files located in logos and avatars folders except default files
assets/user_img/avatars/*
assets/user_img/logos/*
!assets/user_img/avatars/default_avatar.png
!assets/user_img/logos/default_logo.png