$main-color: #003147;
$second-color: #03a9f4;

$main-color-alpha: rgba(0, 49, 71, 0.5);
$second-color-alpha: rgba(3, 169, 244, 0.5);

$white: #fff;
$black: #000;
$black-alpha: rgb(0, 0, 0, 0.2);
$grey-alpha: rgba(95, 99, 104, 0.2);

// Google's grays:
$grey-light: #f1f3f4;
$grey-dark: #5f6368;
$green: #46ad81;
$green-dark: #2f8862;
