$small-fz: 0.7rem;
$basic-fz: 1rem;
$heading-fz: 1.5rem;

$app-logo-fz-small: 1.3rem;
$app-logo-fz-large: 1.6rem;
$burger-btn-fz: 1.8rem;

$nav-icon-fz: 1.5rem;
$nav-icon-height: 60px;
$nav-width: 60px;
$topbar-height: 60px;

// App logo sizes
$app-logo-width-small: 2rem;
$app-logo-height-small: 2rem;
$app-logo-margin: 0 0.3em;

$app-logo-width-large: 2.5rem;
$app-logo-height-large: 2.5rem;

.card-title {
	padding-bottom: 0.2em;
	font-size: 1.8rem;
	font-weight: 400;
}
