@use '../utilities/' as *;

.summary {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 20px;
	padding: 0 1em;
	margin-top: 1em;
	margin-bottom: 20px;

	&__card {
		height: 100px;
		background-color: $grey-light;
		border: 1px solid red;
	}
}

.details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 20px;
	padding: 0 1em;
	margin-bottom: 20px;
}
