@use '../utilities/' as *;

.summary {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-template-rows: auto;
	gap: 20px;
	padding: 0 1em;
	margin-top: 1em;
	margin-bottom: 20px;

	&__card {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		background-color: $grey-light;

		&-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 1em 1em 1em;

			&-title {
				padding-bottom: 0.2em;
				font-size: 1.8rem;
				font-weight: 400;
			}

			&-value {
				font-size: 2rem;
				font-weight: 700;

				& .income-value {
					// background-color: #fff;
				}

				& .invoices-amount {
					// background-color: #fff;
				}

				& .average-value {
					// background-color: #fff;
				}

				& .after-tax-value {
					// background-color: #fff;
				}
			}
		}

		& i {
			text-align: center;
			align-self: center;
			font-size: 5rem;
			color: $main-color;
		}
	}
}

.details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 20px;
	padding: 0 1em;
	margin-bottom: 20px;

	&__invoices {
		padding: 1em;
		background-color: $grey-light;
		// Dzięki temu tabela będzie nam się przesuwała na boki
		overflow-x: auto;

		&-table {
			width: 100%;
			font-size: 1.4rem;
			border-collapse: collapse;
			text-align: center;

			thead {
				color: $white;
				background-color: $main-color;

				tr {
				}

				th {
					padding: 0.7em;
				}
			}

			tbody {
				tr {
					border-bottom: 1px solid $black-alpha;
				}

				tr:last-child {
					border-bottom: none;
				}

				td {
					padding: 0.5em;
				}

				button {
					padding: 0.2em;
					margin: 0.2em;
					cursor: pointer;
				}
			}
		}
	}

	&__results {
		padding: 1em;
		background-color: $grey-light;

		// h2 {
		// 	padding-bottom: 0.2em;
		// 	font-size: 1.8rem;
		// 	font-weight: 400;
		// }

		&-chart {
			width: 100%;
		}
	}
}
