@use '../utilities/' as *;

.home {
	&__top {
		background-color: $main-color;
		color: $white;
		overflow: hidden;

		&-left {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&-burger-btn {
				height: 60px;
				width: 60px;
				border: 1px solid transparent;
				background-color: transparent;
				cursor: pointer;

				i {
					padding-top: 0.2em;
					color: $white;
					font-size: $burger-btn-fz;
				}
			}

			a {
				display: flex;
				align-items: center;
				height: 60px;

				img {
					width: $app-logo-width-small;
					height: $app-logo-height-small;
					object-fit: contain;
					margin: $app-logo-margin;
					padding: 0;
				}

				h2 {
					padding-right: 0.5em;
					font-size: $app-logo-fz-small;
				}
			}
		}

		&-right {
			padding: 0 1em 1em;

			&-btns {
				display: flex;
				justify-content: space-between;
				gap: 1em;
				margin-top: 3em;
				margin-bottom: 2em;

				a {
					width: 100%;
				}
			}

			&-btn {
				padding: 0.3em 0.6em;
				width: 100%;
				font-size: $basic-fz;
				border-radius: 5px;
				border: 1px solid $main-color;
				transition: 0.5s;
				cursor: pointer;

				&.login-btn {
					color: $white;
					border: 1px solid $white;
					background-color: transparent;

					&:hover {
						color: $main-color;
						background-color: $grey-light;
					}
				}

				&.register-btn {
					color: $main-color;
					background-color: $second-color;
					border: 1px solid transparent;

					&:hover {
						color: $main-color;
						background-color: $grey-light;
					}
				}
			}

			ul {
				a {
					li {
						padding: 0.2em 0.5em;
						font-size: $basic-fz;
						border-top: 1px solid grey;
						cursor: pointer;
						transition: background-color 0.5s;

						&:hover {
							background-color: $second-color;
						}
					}
				}
			}

			&-logged-user {
				display: flex;
				flex-direction: column;
				margin-top: 1.5em;
				align-items: start;
				gap: 0.5em;
				cursor: pointer;

				img.home__top-right-logged-user-avatar {
					border-radius: 50%;
					width: 45px;
					max-width: 45px;
					height: 45px;
					max-height: 45px;
					object-fit: cover;
				}

				&-info {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 0.5em;

					p {
						font-size: $small-fz;

						&:nth-child(1) {
							font-size: $basic-fz;
						}
					}
				}

				&-settings {
					height: 0px;
					width: 100%;
					border: 1px solid transparent;
					overflow: hidden;
					transition: height 0.5s;

					&--active {
						height: 200px;
					}

					a {
						button {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
