@use '../utilities/' as *;

.home {
	&__top {
		background-color: $main-color;
		color: $white;

		&-left {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&-burger-btn {
				height: 60px;
				width: 60px;
				border: 1px solid transparent;
				background-color: transparent;
				cursor: pointer;

				i {
					padding-top: 0.2em;
					color: $white;
					font-size: 2.4rem;
				}
			}

			a {
				display: flex;
				align-items: center;
				height: 60px;

				i {
					padding: 0 0.5em 0.2em;
					font-size: 2.4rem;
				}

				h2 {
					padding-right: 0.5em;
					font-size: 1.8rem;
				}
			}
		}

		&-right {
			// display: none;
			padding: 0 1em 1em;

			&-btns {
				display: flex;
				justify-content: space-between;
				gap: 1em;
				margin-top: 3em;
				margin-bottom: 2em;

				a {
					width: 100%;
				}

				// img.home__top-right-logged-user-avatar {
				// 	// border: 10px solid red;
				// 	// border-radius: 50%;
				// 	min-width: 45px;
				// 	max-width: 45px;
				// 	min-height: 45px;
				// 	max-height: 45px;
				// 	object-fit: cover;
				// }
			}

			&-btn {
				padding: 0.3em 0.6em;
				width: 100%;
				font-size: 1.6rem;
				border-radius: 5px;
				border: 1px solid $main-color;
				transition: 0.5s;
				cursor: pointer;

				&.login-btn {
					color: $white;
					border: 1px solid $white;
					background-color: transparent;

					&:hover {
						color: $main-color;
						background-color: $grey-light;
					}
				}

				&.register-btn {
					color: $main-color;
					background-color: $second-color;
					border: 1px solid transparent;

					&:hover {
						color: $main-color;
						background-color: $grey-light;
					}
				}
			}

			ul {
				a {
					li {
						padding: 0.2em 0.5em;
						font-size: 1.6rem;
						border-top: 1px solid grey;
						cursor: pointer;
						transition: background-color 0.5s;

						&:hover {
							background-color: $second-color;
						}
					}
				}
			}

			&-logged-user {
				display: flex;
				flex-direction: row;
				margin-top: 1.5em;
				gap: 1em;

				img.home__top-right-logged-user-avatar {
					border-radius: 50%;
					width: 45px;
					max-width: 45px;
					height: 45px;
					max-height: 45px;
					object-fit: cover;
				}

				&-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					p {
						font-size: 1.1rem;

						&:nth-child(1) {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
}
