@use '../utilities/' as *;

.invoice-list {
	display: flex;
	flex-direction: column;
	padding: 0 1em;

	&__add-new-btn {
		align-self: flex-end;

		button {
			@include button($green, $green-dark);
			padding: 0.4em 0.8em;
			font-size: 1.4rem;
			margin-bottom: 1em;
		}
	}

	&__table {
		width: 100%;
		border-collapse: collapse;

		&-thead {
			background-color: $main-color;
			color: $white;
			tr {
				th {
					font-size: 1.3rem;
					padding: 0.5em;
				}
			}

			&--tablet,
			&--PC {
				display: none;
			}
		}

		&-tbody {
			&-item {
				display: flex;
				flex-direction: column;
				padding: 0.5em;
				width: 100%;
				font-size: 1.2rem;
				border-bottom: 1px solid $grey-dark;

				&:hover {
					background-color: $grey-light;
				}

				&-btns {
					display: flex;
					flex-wrap: wrap;
					gap: 0.4em;
					padding: 0.5em 0;
					justify-content: end;
					align-items: end;

					button {
						@include button($green, $green-dark);

						&.delete-btn {
							@include button($red, $red-dark);
							margin: 0;
							align-self: end;
						}
						margin: 0;
						align-self: end;
					}
				}

				&--mobile-title {
					font-weight: 700;
				}
			}
		}
	}

	&__pop-up {
		@include pop-up($red);
		margin-left: 0;
		margin-right: 0;
	}
}
