@use '../utilities/' as *;

.register {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: calc(50px + 0.5em) 0.5em 0.5em 0.5em;
	background-color: $main-color;
	font-size: 1.6rem;

	&__top {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: start;
		align-items: center;
		width: 100%;
		height: 50px;
		color: $white;

		i {
			padding: 0.5em;
			font-size: 3rem;
		}

		h2 {
			padding-top: 0.2em;
		}
	}

	&__title {
		margin-bottom: 0.2em;
		font-size: 3rem;
		color: $white;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 0.8em;
		width: 100%;
		max-width: 350px;
		background-color: $grey-light;
		border: 1px solid white;
		border-radius: 10px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		&-box {
			display: flex;
			flex-direction: column;
			margin-bottom: 1em;

			&.term-of-services-box {
				label {
					display: flex;
					align-items: center;
				}

				input {
					height: 2em;
					margin-right: 0.5em;
				}
			}
		}

		&-label {
			color: $main-color;
			font-size: 2rem;
			font-weight: 700;
		}

		&-input {
			padding: 0.3em 0.5em;
			font-size: 1.4rem;
			border-radius: 4px;
			border: 1px solid $main-color-alpha;
			outline: none;
			transition: border 0.3s, box-shadow 0.3s;

			&:focus {
				border: 1px solid transparent;
				box-shadow: 0 0 6px $main-color-alpha;
			}
		}

		.error {
			padding-top: 0.3em;
			padding-left: 0.3em;
			font-size: 1.3rem;
			color: $main-color;
		}

		&-submit {
			align-self: center;
			margin-top: 0.4em;
			padding: 0.2em;
			width: 100%;
			color: $main-color;
			font-size: 2rem;
			font-weight: 700;
			background-color: $second-color;
			border: 1px solid transparent;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				box-shadow: 0 0 6px $second-color-alpha;
			}

			&:active {
				background-color: $second-color-alpha;
			}
		}
	}

	&__info {
		padding-top: 0.5em;
		p {
			color: $white;
			text-align: center;

			a {
				color: $second-color;
				text-decoration: underline;

				&:visited {
					color: $second-color;
				}
			}
		}
	}
}
